@media screen and (min-width: 48rem) {
    /* menu settings */    
    .menu {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .menu span {
        display: none;
    }

    nav.menu ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: static;
        background-color: transparent;
        margin-left: auto; 
        gap: 1rem;
        width: auto;
    }

    .menu li {
        width: auto;
        text-align: center;
        border-radius: 5rem;
        white-space: nowrap;
    }

  .menu li a {
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 64rem) {
    /* Home settings */
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .home .text {
        margin: 0;
    }
    
    .home img {
        display: block;
        position: relative;
        z-index: -1;
        animation: aumentarDiminuir 2s ease-in-out infinite alternate;
    }


    @keyframes aumentarDiminuir {
        100% {
            transform: scale(1.1, 1.1);
        }
    }

    /* About me settings */
    .presentation {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .presentation img {
        width: 20rem;
        margin: 0;
    }

    .borda-girando {
        position: relative;
        width: 20.375rem;
        border-radius: 50%;
        z-index: -1;
    }

    .borda-girando::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        border: 4px solid transparent;
        border-top: 4px solid var(--color3);
        border-radius: 50%;
        animation: girarBorda 2s linear infinite;
        z-index: 0;
    }

    .borda-girando img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 1;
    }

    @keyframes girarBorda {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .presentation p {
        margin: 0;
    }


    /* Skill settings */
    .skill img {
        transition: transform .5s ease-in-out;
    }

    .skill img:hover {
        transform: scale(1.1, 1.1);
    }
}