@charset "UTF-8";

@font-face {
  font-family: "Origin";
  src: url(../fonts/OriginTech\ personal\ use.ttf);
}

@font-face {
  font-family: "Cyborg";
  src: url(../fonts/Cyborg\ Punk.ttf);
}

@font-face {
  font-family: "Typelight";
  src: url(../fonts/TypeLightSans-KV84p.otf);
}

:root {
  --header-background-color: #171f26;
  --color2: #405059;
  --color3: #b7e94d;
  --color4: #f7f0e8;
  --color5: #080004;
  --background-p: #40505965;
  --background-gradient: linear-gradient(
    to bottom,
    var(--color5),
    var(--color2),
    var(--color5)
  );
  --p-gradient: radial-gradient(circle, #0800042f 10%, #f7f0e848);

  --font-others-title: "Origin", "Poppins", sans-serif;
  --font-main-title: normal 500 1.3rem "Cyborg", "Poppins", sans-serif;
  --font-text: "Typelight", "Poppins", sans-serif;
}

/* html settings */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

/* body settings */
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  background: var(--background-gradient) fixed;
  color: var(--color4);
}

/* general settings */
section {
  padding: 0 1.5rem 2rem 1.5rem;
}

p {
  margin-bottom: 1rem;
  font-family: var(--font-text);
  text-indent: 1rem;
  font-size: 1.2rem;
  background: var(--p-gradient);
  padding: 1rem;
  max-width: 30rem;
  border-radius: 0.3rem;
  margin: auto;
  box-shadow: 0 0 5rem #00000091;
}

h2 {
  font-family: var(--font-others-title);
  font-weight: normal;
  margin-bottom: 2rem;
  font-size: 2rem;
}

/* header settings */
header {
  background: linear-gradient(
    to bottom,
    var(--color2),
    var(--header-background-color)
  );
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(255, 255, 255, 0.507);
  z-index: 100;
}

/* menu settings */
nav.menu {
  display: flex;
  position: relative;
}

nav.menu span {
  padding: 0.3rem;
  border-radius: 0.3rem;
  font-size: 2rem;
  cursor: pointer;
}

nav.menu span:hover {
  background-color: var(--color2);
}

nav.menu ul {
  display: none;
  flex-direction: column;
  gap: 0.6rem;
  width: 9rem;
  position: absolute;
  top: 2.5rem;
  left: -5rem;
  list-style: none;
  background-color: var(--header-background-color);
}

nav.menu ul.aberto {
  display: flex;
}

nav.menu ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 0.7rem 1rem;
  font-family: var(--font-text);
}

nav.menu ul li:hover {
  background-color: var(--color2);
}

/* Home settings */
.home {
  padding-top: 7rem;
}

h1 {
  font: var(--font-main-title);
  text-align: center;
  margin-bottom: 2rem;
}

.home .text {
  max-width: 30rem;
  margin: auto;
}

.home img {
  display: none;
}

/* About me settings */
.about-me {
  padding-top: 2rem;
}

.presentation img {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

/* Skills settings */
.skills {
  padding-top: 2rem;
  min-height: auto;
}

.container-skills {
  overflow: hidden;
  width: 17rem;
  display: flex;
  margin: auto;
  padding: 1rem;
}

.skills-board {
  display: flex;
  transition: transform .5s;
  gap: 2rem;
}

.skill {
  background-color: #40505959;
  padding: 2rem 0;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 3rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.438);
}

.skill progress {
  accent-color: var(--color3);
}

/* Projects settings */
.projects {
  padding-top: 2rem;
}

.container-projects {
  overflow: hidden;
  width: 20rem;
  display: flex;
  margin: auto;
  padding: 1rem;
}

.projects-board {
  display: flex;
  transition: transform .5s;
  gap: 2rem;
}

.project {
  background-color: #40505959;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #000;
  padding-bottom: 1rem;
}

.img-project {
  width: 100%;
}

.img-project img {
  width: 100%;
  display: block;
  height: 11rem;
}

.project h3 {
  text-align: center;
}


.text-card-project {
  padding: .3rem;
}

.project h3 {
  font-size: 1.5rem;
}

.project p {
  font-size: .9rem;
  /* text-align: justify; */
  background: none;
  box-shadow: none;
  overflow-y: scroll;
  height: 5rem;
  margin: 1rem 1rem 1rem 1rem;
  border: .1rem solid #808080;
  padding: .1rem .5rem;
}

.links {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.project a {
  background-color: var(--color3);
  padding: .5rem 1rem;
  text-decoration: none;
  color: var(--header-background-color);
  font-family: var(--font-text);
  font-weight: normal;
  border-radius: 3rem;
}

.project a:nth-child(2) {
  background-color: 	#8256f1;
  padding: .5rem 1rem;
  text-decoration: none;
  color:#fff;
  font-family: var(--font-text);
  font-weight: normal;
  border-radius: 3rem;
}

.nav-projects, .nav-skills {
  text-align: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.nav-projects button, .nav-skills button {
  background-color: transparent;
  color: var(--color4);
  padding: .5rem;
  border: none;
  border-radius: 50%;
}

.nav-projects button:hover, .nav-skills button:hover {
  background-color: #405059;
}

.nav-projects button span, .nav-skills button span {
  font-size: 3rem;
  text-align: center;
}

.nav-projects .disable, .nav-skills .disable {
  color: #80808062;
  cursor: not-allowed;
}

/* Footer settings */
footer {
  background: liner-gradient(to top, var(--color5), var(--header-background-color));
  box-shadow: 0rem 0 .5rem #fff;
  padding: 1.2rem 0 .1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
}

.contact-links {
  display: flex;
}

footer a {
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: 2rem;
}

footer a img {
  display: block;
}

footer a:hover {
  background-color: #171f26;
}